taxtastic/data/ver
*.pyc
build/
dist/
_build
test_output/
doctrees/
*-env
*.egg-info/
html
/docs/_helptext/
MANIFEST
TODO
docker/install_pplacer.sh
docker/taxtastic.tar.gz

# due to using tox and pytest
.tox
.cache
