recursive-include taxtastic/data *
recursive-include taxtastic/scripts *
recursive-include taxtastic/subcommands *
recursive-include taxtastic/templates *

recursive-exclude .DS_Store
global-exclude */__pycache__/*

exclude Dockerfile
exclude tests
recursive-exclude testfiles/*
