decorator==5.1.1
DendroPy==4.6.0
fastalite==0.4.1
Jinja2==3.1.2
MarkupSafe==2.1.2
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg2-binary==2.9.6
PyYAML==6.0
SQLAlchemy==2.0.12
sqlparse==0.4.4
typing_extensions==4.5.0
