decorator==5.1.1
DendroPy==5.0.1
fastalite==0.4.1
greenlet==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2-binary==2.9.9
PyYAML==6.0.2
SQLAlchemy==2.0.32
sqlparse==0.5.1
typing_extensions==4.12.2
